<?xml version="1.0"?>
<!--
/**
 * @author Nilay
 * @package NilayVy\ProductInRange
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="productrange" frontName="productrange">
            <module name="NilayVy_ProductsInRange"/>
        </route>
    </router>
</config>
